.post {
    border: 2px green solid;
    max-width: 750px;
    padding: 0.5rem;
}

.post-image {
    margin-top: 0.5rem;
    text-align: center;
}

.post-image>img {
    max-width: 100%;
}

.post-like {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
}

.post-comments {
    border-top: 2px solid green;
    text-align: center;
    padding: 0.5rem;
}

.post-add-comments {
    border-top: 2px solid green;
    padding: 0.5rem 0;
}

.post-add-comments textarea {
    width: 100%;
    max-height: 100px;
}

.post-add-comments>div:last-child {
    text-align: end;
}