* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --success-color: rgb(17, 131, 13);
  --error-color: rgb(150, 8, 8);
  --input-bg: #f7f8f9;
  --input-boder: #d6e3e7;
  --h1-color: #21485a;
  --h2-color: #21485a;
  --btn-color: #21485a;
  --btn-text-color: #ffffff;
  --btn-hover-color: #28586e;
  --navbar-bg-color: #ffffff;
}

body {
  background-color: var(--input-boder);
}

h1 {
  color: var(--h1-color);
}

h2 {
  color: var(--h2-color);
}

p {
  text-align: justify;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="date"] {
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid var(--input-boder);
  border-radius: 5px;
  background-color: var(--input-bg);
}

input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder,
input[type="date"]::placeholder {
  color: var(--input-boder);
  opacity: 1;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="date"]:focus {
  outline: none;
}

button,
input[type="submit"] {
  font-size: 1rem;
  padding: .5rem;
  border: none;
  width: 10rem;
  background-color: var(--btn-color);
  border: 2px solid var(--btn-color);
  color: var(--btn-text-color);
}

button:hover,
input[type="submit"]:hover {
  background-color: var(--btn-hover-color);
  border: 2px solid var(--btn-hover-color);
}

button:active,
input[type="submit"]:active {
  background-color: var(--btn-text-color);
  color: var(--btn-color);
  border: 2px solid var(--btn-color);
}

/* Utilities */
.display-none {
  display: none;
}

.error-message {
  color: var(--error-color);
}

.success-message {
  color: var(--success-color);
}

.profile-img-sm {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

/*Dimension styles*/
.height-2 {
  height: 2rem;
}

/*Font styles*/
.font-size-1-point-2 {
  font-size: 1.2rem;
}

/* Margin styles*/
.mg-bottom-2 {
  margin-bottom: 2rem;
}

.mg-top-bottom-2 {
  margin: 2rem 0;
}

/*Padding styles*/
.padding-point-3 {
  padding: .3rem;
}