#postPage {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

#postPageContainer {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    background-color: var(--input-boder);
    overflow-y: auto;
}

#postPageContainer>div {
    border: 1px green solid;
    overflow-y: auto;
}

#post {
    display: grid;
    align-content: start;
    justify-items: center;
    gap: 1rem;
    padding: 1rem;
}

.post-sidebar>div {
    padding: .2rem;
}

.post-sidebar h2 {
    text-align: center;
}