#PostPage {
    height: 100%;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    background-color: var(--input-boder);
}

#PostPage>div {
    height: 100%;
    border: 1px green solid;
}

#post {
    display: grid;
    align-items: start;
    justify-items: center;
    gap: 1rem;
    padding: 1rem;
}

.post-sidebar>div {
    padding: .2rem;
}

.post-sidebar h2 {
    text-align: center;
}